@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le site de bouger de gauche à droite */
}

/* On force les inputs à ne pas avoir de fond bleu moche quand on clique dessus */
input:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

/* Cache la barre de défilement pour faire plus "app" */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}