@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* FORCE LES BOUTONS À ÊTRE TRANSPARENTS PAR DÉFAUT */
button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* ENLÈVE LA BARRE DE SCROLL */
::-webkit-scrollbar {
  display: none;
}