@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff; /* FORCE LE TEXTE EN BLANC PARTOUT */
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Répare les liens violets moches */
a {
  color: inherit;
  text-decoration: none;
}