@tailwind base;
@tailwind components;
@tailwind utilities;

/* On force le noir profond et on retire les marges par défaut */
:root {
  background-color: #050505;
  color: #F5F5F5;
}

body {
  background-color: #050505; /* Noir LFDST */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le scroll horizontal qui casse l'interface */
}

/* Scrollbar invisible pour le style */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}